.menu {
  display: flex;
  justify-content: end;
  margin: 0 20px;
}

.kv {
  position: relative;
  // border: solid 1px black;
  height: 100vh;
  width: 100vw;
  top: 0px;
  border-radius: 0px;

  &-container {
    position: absolute;
  }

  &-1,
  &-2,
  &-3,
  &-4 {
    position: absolute;
  }

  &-1 {
    height: 400px;
    width: 300px;
    left: 1100px;
    top: 20px;
    border-radius: 0px;

  }

  &-2 {
    height: 400px;
    width: 300px;
    left: 81px;
    top: 358px;
    border-radius: 0px;
  }

  &-3 {
    height: 200px;
    width: 400px;
    left: 50px;
    top: 20px;
    border-radius: 0px;
  }

  &-4 {
    height: 200px;
    width: 400px;
    left: 1000px;
    top: 550px;
    border-radius: 0px;
  }

  &-box {
    position: absolute;
    height: 100vh;
    width: 100vw;
  }

  &-container {
    font-size: 20px;
    top: 300px;
    left: 500px;
  }
}

// Livers 
.content{
  background-color: black;
  height: 100vh;
}

.livers {
  &-container {
    width: 1170px; // コンテンツ幅
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

  &-main {
    border: solid 3.79px #EA5555;
    background-color: white;
    width: 24.1%;
    margin: 0 5px;
  }

  &-box {
    width: 220px;
    height: 220px;
    margin: 10px;
  }
}

h2 {
  color: black;
  text-align: center;
  font-size: 80px;
}

// About
.about {
   position: relative;
   width: 1170px; // コンテンツ幅

  h3 {
    font-size: 80px;
    text-align: center;
  }

  &-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


    h4 {
      width: 200px;
      height: 24px;
      margin-bottom: 20px;
    }

    p {
      width: 454px;
    }

    img {
      width: 25%;
    }
  }

   &-deco1,  &-deco2,  &-deco3,  &-deco4,  &-deco5,  &-deco6 {
    position: absolute;

    }
}

//  Sponser
.sponser {
  height: 100vh;
  width: 100vw;
  width: 1170px; // コンテンツ幅

  h3 {
    font-size: 80px;
    text-align: center;
  }

  &-photo {
    height: 600px;
    width: 600px;
    margin: 0 auto;
  }

  &-box1 {
    height: 260px;
    width: 564px;
  }

  &-box2 {
    height: 193px;
    width: 232px;
    margin: 50px 120px;
  }

  p {
    font-size: 40px;
    text-align: center;
  }
}


// Service
.icon1{
    border: solid 1px black;
    height: 800px;
    width: 500px;
}

// Customer Voice
.cvoice{
    flex-direction: row;
}
// Contact
// Company
// footer