.menu {
  display: flex;
  width: 71vw;
  font-size: 3.4vh;
  justify-content: space-between;
  margin: 15px 0 0 380px;
}

.kv {
  display: flex;
  // border: solid 1px black;
  width: 100vw;
  justify-content: center;

  &-people {
    width: 90%;

  }

  &-container {
    position: relative;


    p {
      font-size: 32px;
    }

    h1 {
      font-size: 70px;
      font-weight: 400;
    }

    h2 {
      font-size: 27px;
      text-align: start;
    }

  }

  &-3,
  &-2 {
    width: 50%;
    margin-left: 20px;

  }

  &-1,
  &-4 {
    width: 50%;
    margin-left: 350px;
  }


  &-box {
    position: absolute;
    width: 110VW;
    
  }

  &-container {
    position: absolute;
    font-size: 20px;
    top: 280px;
    left: 450px;
  }
}

// Livers 
.content {
  background-color: black;
  width: 100vw;
  height: 100vh;



}

.livers {
  &-container {
    background-color:black;
    max-width: 1170px; // コンテンツ幅
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
  }

  &-main {
    border: solid 3.79px #EA5555;
    background-color: white;
    width: 21%;
    margin: 5px;



    p {
      font-size: 11px;
      font-weight: 400;
      margin-left: 10px;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      text-align: start;
      margin-left: 10px;
    }
  }
  &-box1,&-box2,&-box3,&-box4,&-box5,&-box6,&-box7,&-box8{
    height: 210px;
    margin: 10px 5px;
  }
}

h2 {
  color: black;
  text-align: center;
  font-size: 80px;
  font-weight: 400;

}

// About
.about {
  position: relative;
  max-width: 1170px; // コンテンツ幅

  h3 {
    font-size: 80px;
    text-align: center;
  }

  &-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


    h4 {
      width: 200px;
      height: 24px;
      margin-bottom: 20px;
    }

    p {
      width: 454px;
    }

    img {
      width: 25%;
    }
  }

  &-deco1,
  &-deco2,
  &-deco3,
  &-deco4,
  &-deco5,
  &-deco6 {
    position: absolute;

  }
}

//  Sponser
.sponser {
  height: 100vh;
  width: 100vw;
  max-width: 1170px; // コンテンツ幅

  h3 {
    font-size: 80px;
    text-align: center;
  }

  &-photo {
    height: 600px;
    width: 600px;
    margin: 0 auto;
  }

  &-box1 {
    height: 260px;
    width: 564px;
  }

  &-box2 {
    height: 193px;
    width: 232px;
    margin: 50px 120px;
  }

  p {
    font-size: 40px;
    text-align: center;
  }
}


// Service

.icon1{
    border: 3.42px solid #9067E9;
    height: 900px;
    width: 400px; 
    justify-content: space-around;
}

.service{
    display: flex;
    width: 1170px;
    justify-content: space-around;
}

// Customer Voice


.voice {
  display: flex;
  background-image: url(../img/deco_12.png);
}

h3 {

    font-size: 50px;
    text-align: center;
    padding-top: 50px;
  }

// Contact

.contact{
    display: flex;
    width: 1170px;
    justify-content: space-around;
}

.contact1{
    border: solid 1px black;
    justify-content: space-around;
    height: 800px;
    width: 400px;
}


.fc {
  border-color: #FFEA02;
}

.fl {
  border: #20C55A;
}

.denw{
    display: flex;
    width: 400px;
    flex-direction: column;
}

.wa {
  width: 300px;
}

.ar{
    height: 60px;
    width: 60px;
}

h5{

}

.contact-wrap{
    width: 100%;
    border: solid 1px black;
    padding: 10px;
}

// Company

.company {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.map {
  border: solid 1px black;
  width: 500px;
  height: 500px;
}

h4 {
  font-size: 50px;
}

h5 {
  font-size: 20px;
}

// footer

footer {
  background-color: black;
  color: white;
  text-align: center;
}