.menu {
  display: flex;
  width: 71vw;
  font-size: 3.4vh;
  justify-content: space-between;
  margin: 20px 350px;
}

@media screen and (max-width: 767px) {
  .menu {
    display: block;
    display: none;
  }
}

.kv {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .kv {
    display: block;
    padding: 0;
  }
}

.kv-people {
  width: 25%;
}

@media screen and (max-width: 767px) {
  .kv-people {
    display: flex;
    width: 100%;
  }
}

.kv-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
}

@media screen and (max-width: 767px) {
  .kv-box {
    position: static;
  }
}

.kv-container {
  position: absolute;
  top: 100px;
  left: 400px;
}

@media screen and (max-width: 767px) {
  .kv-container {
    left: 0;
  }
}

.kv-container p {
  font-size: 32px;
}

.kv-container h1 {
  font-size: 70px;
  font-weight: 400;
}

.kv-container h2 {
  font-size: 27px;
  text-align: start;
}

.content {
  background-color: black;
  width: 100vw;
  padding: 30px;
}

.livers-container {
  background-color: black;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  .livers-container {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.livers-container p {
  font-size: 11px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .livers-container p {
    text-align: start;
  }
}

.livers-container h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: start;
}

.livers-main1 {
  border: solid 3.79px #EA5555;
  background-color: white;
  width: 21%;
  margin: 5px;
}

.livers-main2 {
  border: solid 4.42px #A817FB;
  background-color: white;
  width: 21%;
  margin: 5px;
}

.livers-main3 {
  border: solid 3.15px #F0C83B;
  background-color: white;
  width: 21%;
  margin: 5px;
}

.livers-main4 {
  border: solid 3.79px #EA5555;
  background-color: white;
  width: 21%;
  margin: 5px;
}

.livers-main5 {
  border: solid 3.15px #ED61F6;
  background-color: white;
  width: 21%;
  margin: 5px;
}

.livers-main6 {
  border: solid 3.79px #52F1BF;
  background-color: white;
  width: 21%;
  margin: 5px;
}

.livers-main7 {
  border: solid 3.79px #55B0EA;
  background-color: white;
  width: 21%;
  margin: 5px;
}

.livers-main8 {
  border: solid 3.79px #FFB017;
  background-color: white;
  width: 21%;
  margin: 5px;
}

@media screen and (max-width: 767px) {
  .livers-main1, .livers-main2, .livers-main3, .livers-main4, .livers-main5, .livers-main6, .livers-main6, .livers-main7, .livers-main8 {
    width: 70%;
    margin: 15px auto;
  }
}

.livers-box1, .livers-box2, .livers-box3, .livers-box4, .livers-box5, .livers-box6, .livers-box7, .livers-box8 {
  height: 210px;
  margin: 10px 5px;
}

@media screen and (max-width: 767px) {
  .livers-box1, .livers-box2, .livers-box3, .livers-box4, .livers-box5, .livers-box6, .livers-box7, .livers-box8 {
    width: 75%;
    margin: 10px auto;
  }
}

.boxname {
  margin: 0 0 10px 10px;
}

@media screen and (max-width: 767px) {
  .boxname {
    width: 75%;
    margin: 5px auto;
  }
}

h2 {
  color: black;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
}

.about {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  text-align: end;
}

@media screen and (max-width: 767px) {
  .about {
    position: static;
  }
}

.about-container1 {
  width: 871px;
  display: flex;
  align-items: center;
  text-align: start;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .about-container1 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
}

.about h4 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
}

.about p {
  width: 450px;
  font-size: 22px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .about p {
    text-align: start;
  }
}

.about .about_01 {
  width: 280px;
  margin-left: 50px;
  box-shadow: 15px 15px 0px 0 #F9C83B;
}

@media screen and (max-width: 767px) {
  .about .about_01 {
    margin: 0;
  }
}

.about-container2 {
  width: 871px;
  display: flex;
  align-items: center;
  text-align: start;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .about-container2 {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .about-container2-main {
    background-image: url(../img/bg_01.png);
  }
}

.about-container2 h4 {
  margin-bottom: 20px;
  width: 436px;
  font-size: 28px;
  font-weight: 400;
  margin-left: 140px;
}

@media screen and (max-width: 767px) {
  .about-container2 h4 {
    margin: 0;
  }
}

.about-container2 p {
  width: 436px;
  font-size: 22px;
  font-weight: 400;
  margin-left: 140px;
}

@media screen and (max-width: 767px) {
  .about-container2 p {
    margin: 0;
    text-align: start;
  }
}

.about-container2 .about_02 {
  width: 280px;
  box-shadow: -15px 15px 0px 0 #FFF835;
}

.about-deco1 {
  position: absolute;
  width: 12%;
  left: 0%;
  right: 84.11%;
  top: 10.29%;
}

.about-deco2 {
  position: absolute;
  width: 12%;
  left: 82.01%;
  right: 3.59%;
  top: 9.38%;
}

.about-deco3 {
  position: absolute;
  width: 10%;
  left: 1.36%;
  right: 90.12%;
  top: 45.91%;
}

.about-deco4 {
  position: absolute;
  width: 19%;
  left: 81%;
  top: 30%;
}

.about-deco5 {
  position: absolute;
  width: 8%;
  left: 8%;
  right: 86.77%;
  top: 80%;
}

.about-deco6 {
  position: absolute;
  width: 4%;
  left: 88%;
  top: 80%;
}

.name {
  font-size: 47px;
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
}

.sponser {
  width: 100%;
  max-width: 1170px;
  text-align: center;
  margin: 0 auto;
}

.sponser-photo {
  margin: 30px 0;
}

.sponser-box1 {
  width: 790px;
  height: 363px;
}

.sponser-box2 {
  width: 325px;
  height: 361px;
}

.sponser p {
  font-size: 22px;
  text-align: center;
}

.name {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
}

.service {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .service {
    display: block;
  }
}

.service .icon1 {
  border: 3.42px solid #9067E9;
  box-shadow: 10px 10px 0px 0 #9067E9;
  height: 900px;
  width: 312px;
  margin: 0 10px;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .service .icon1 {
    margin: 0 auto;
  }
}

.service img {
  margin-bottom: 10px;
  width: 92px;
}

.service h6 {
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}

.service p {
  font-size: 12px;
  font-weight: 400;
  padding: 20px 5px;
}

.dc {
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .dc {
    display: block;
    position: static;
  }
}

.dc-7 {
  position: absolute;
  width: 91px;
  top: 5%;
  left: 1%;
}

.dc-8 {
  position: absolute;
  width: 222px;
  height: 212px;
  top: 0;
  left: 81%;
}

.dc-9 {
  position: absolute;
  width: 300px;
  height: 330px;
  left: 0;
  top: 41%;
}

.dc-10 {
  position: absolute;
  width: 92px;
  left: 88%;
  top: 78%;
}

.name {
  font-size: 50px;
  text-align: center;
}

.vtext {
  margin: 15px;
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .vtext {
    margin: 0;
  }
}

.vtext p {
  width: 436px;
  font-size: 21px;
  font-weight: 400;
}

.vtext h5 {
  font-size: 18px;
}

.vtext h6 {
  font-size: 29px;
}

.voice {
  margin: 15px;
  width: 374px;
  box-shadow: -15px 15px 0 #E7AFC3;
}

@media screen and (max-width: 767px) {
  .voice {
    margin: 0 auto;
  }
}

.contact {
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .contact {
    display: block;
    height: 100%;
  }
}

.contact-1 {
  margin: 0 10px;
}

.contact-wrap label {
  display: block;
  font-size: 18px;
}

.contact-wrap input {
  width: 370px;
  font-size: 18px;
  margin-bottom: 18px;
  margin: .4rem 0;
  color: solid 1px black;
  border: 1.43px solid #000000;
}

.contact-wrap textarea {
  width: 370px;
  height: 194px;
  font-size: 18px;
  margin-bottom: 18px;
  margin: .4rem 0;
  color: solid 1px black;
  border: 1.43px solid #000000;
}

.contact-wrap button {
  width: 370px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.contact .fc {
  font-size: 29px;
  background: linear-gradient(transparent 90%, #FFEA02 50%);
  bottom: -3px;
  width: 50%;
  margin-left: 0 auto;
}

.contact p {
  font-size: 18px;
  padding: 20px;
}

.contact .fl {
  font-size: 29px;
  background: linear-gradient(transparent 90%, #20C55A 50%);
  bottom: -3px;
  width: 50%;
}

.contact .ar {
  width: 47px;
}

.contact .wa {
  width: 366px;
}

.contact .denw {
  display: flex;
}

.contact-2 {
  margin-left: 3%;
  margin-top: 2%;
  width: 2px;
  height: 672px;
  background-color: black;
  float: left;
}

@media screen and (max-width: 767px) {
  .contact-2 {
    height: 0;
  }
}

.contact-3 {
  width: 40%;
  float: left;
  margin-left: 3%;
}

@media screen and (max-width: 767px) {
  .contact-3 {
    width: 0;
  }
}

.company {
  display: flex;
  justify-content: space-around;
  max-width: 1170px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .company {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .company-left {
    margin: 0 auto;
  }
}

h4 {
  font-size: 50px;
}

h5 {
  font-size: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */