.menu {
  display: flex;
  width: 71vw;
  font-size: 3.4vh;
  justify-content: space-between;
  margin: 15px 0 0 380px;
}

.kv {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.kv-people {
  width: 90%;
}

.kv-container {
  position: relative;
}

.kv-container p {
  font-size: 32px;
}

.kv-container h1 {
  font-size: 70px;
  font-weight: 400;
}

.kv-container h2 {
  font-size: 27px;
  text-align: start;
}

.kv-3, .kv-2 {
  width: 50%;
  margin-left: 20px;
}

.kv-1, .kv-4 {
  width: 50%;
  margin-left: 350px;
}

.kv-box {
  position: absolute;
  width: 110VW;
}

.kv-container {
  position: absolute;
  font-size: 20px;
  top: 280px;
  left: 450px;
}

.content {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.livers-container {
  background-color: black;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  align-items: flex-start;
}

.livers-main {
  border: solid 3.79px #EA5555;
  background-color: white;
  width: 21%;
  margin: 5px;
}

.livers-main p {
  font-size: 11px;
  font-weight: 400;
  margin-left: 10px;
}

.livers-main h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: start;
  margin-left: 10px;
}

.livers-box1, .livers-box2, .livers-box3, .livers-box4, .livers-box5, .livers-box6, .livers-box7, .livers-box8 {
  height: 210px;
  margin: 10px 5px;
}

h2 {
  color: black;
  text-align: center;
  font-size: 80px;
  font-weight: 400;
}

.about {
  position: relative;
  max-width: 1170px;
}

.about h3 {
  font-size: 80px;
  text-align: center;
}

.about-container {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container h4 {
  width: 200px;
  height: 24px;
  margin-bottom: 20px;
}

.about-container p {
  width: 454px;
}

.about-container img {
  width: 25%;
}

.about-deco1, .about-deco2, .about-deco3, .about-deco4, .about-deco5, .about-deco6 {
  position: absolute;
}

.sponser {
  height: 100vh;
  width: 100vw;
  max-width: 1170px;
}

.sponser h3 {
  font-size: 80px;
  text-align: center;
}

.sponser-photo {
  height: 600px;
  width: 600px;
  margin: 0 auto;
}

.sponser-box1 {
  height: 260px;
  width: 564px;
}

.sponser-box2 {
  height: 193px;
  width: 232px;
  margin: 50px 120px;
}

.sponser p {
  font-size: 40px;
  text-align: center;
}

.icon1 {
  border: 3.42px solid #9067E9;
  height: 800px;
  width: 400px;
}

.service {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
}

.voice {
  display: flex;
  background-image: url(../img/deco_12.png);
}

h3 {
  font-size: 50px;
  text-align: center;
}

.contact {
  display: flex;
  max-width: 1170px;
  margin: auto;
}

.contact1 {
  border: solid 1px black;
  height: 800px;
  width: 400px;
}

.fc {
  border-color: #FFEA02;
}

.fl {
  border: #20C55A;
}

.denw {
  display: flex;
  width: 400px;
}

.wa {
  width: 300px;
}

.ar {
  width: 70px;
}

.company {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.map {
  border: solid 1px black;
  width: 500px;
  height: 500px;
}

h4 {
  font-size: 50px;
}

h5 {
  font-size: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */